<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x mt-4"></i>

<div class="overflow-container dynamic-mt">
  <h1 class="display-3 secrets__title">You've Discovered My Secret!</h1>
  <div class="secrets-grid dynamic-mt">
  <%secrets.forEach((secret)=>{       %>
      <% let userCssClass;              %>
      <% if(secret.authId === userId){  %>
      <% userCssClass = "secret--own";   %>
      <% }                              %>
      <div class="secret <%=userCssClass%> centered">
        <p class="secret__content"><%=secret.text%></p>
    </div>
    <% })                               %>
  </div>
</div>

    <hr class="secrets__hr">

  <div class="secrets__btns">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
  </div>
</div>
<script type="text/javascript" src="js/secrets.js"></script>
<%- include('partials/footer') %>
