<%- include('partials/header') %>

<div class="error flex-center">



<div>
  <div>
    <h1>ERROR</h1>
    <h3><%= text %></h3>
  </div>
  <div class="error__buttons">
    <a href="/" role="button" class="btn btn-outline-primary">Home</a>
    <a href="/register" role="button" class="btn btn-outline-dark">Sign Up</a>
    <a href="/login" role="button" class="btn btn-outline-success">Log In</a>
  </div>
</div>

</div>
<%- include('partials/footer') %>
